<!-- DateTimeView -->
<span class='cel_lazyloadJS' style='display: none;'>structEditJS/dateTime/celements-date-time-field.js</span>
$services.javascript.addExtJSfileOnce(':structEditJS/dateTime/celements-date-time-field.js', 'file')
