#set($cellDocRef = $celldoc.getDocumentReference())
#set($prettyName = $services.structuredDataEditor.getPrettyName($cellDocRef))
#set($attrMap = $services.structuredDataEditor.getTextAttributes($cellDocRef))
<label class="structuredDataEditorLabel">$!prettyName</label>
<input ##value="$!services.structuredDataEditor.getCellValueAsString($cellDocRef)"##
#foreach($attrEntry in $attrMap.entrySet())
  ${attrEntry.key}="$!{attrEntry.value}"
#end
>
