<!-- ObjectListView -->
#if("$!celldoc" != '')
  #set($classRef = $services.structuredDataEditor.getCellClassRef($celldoc.documentReference).orElse($null).docRef)
#end
<!-- classRef: $!services.model.serialize($classRef) -->
#if("$!celldoc" != '')
  #set($fieldName = $services.structuredDataEditor.getCellFieldName($celldoc.documentReference).orElse(''))
#end
<!-- fieldName: $!fieldName -->
#if("$!objectRowLayoutName" == '')
  #set($objectRowLayoutName = "$!{classRef.name.replace('Class','')}-EditFields")
#end
#set($objectRowLayout = $services.layout.getPageLayoutApiForRef($services.reference.create().space($objectRowLayoutName).build()))
#if($services.layout.canRenderLayout($objectRowLayout.layoutSpaceRef))
  <!-- objectRowLayout: $!objectRowLayout.layoutSpaceRef -->
  #if("$!iconCreateCssClass" == '') #set($iconCreateCssClass = "halflings icon-plus") #end
  #if("$!iconDeleteCssClass" == '') #set($iconDeleteCssClass = "halflings icon-trash") #end
  <li class="struct_object_creation">
    <label class="struct_object_label">$adminMsg.get($services.model.serialize($classRef))</label>
    <a href="#"><i class="icon $!{iconCreateCssClass}" title="create"></i></a>
    <div class="cel_template">
      $!services.celementsweb.setGlobalContextValue('cell.number', -1)
      $!services.layout.renderPageLayout($objectRowLayout.layoutSpaceRef)
      <a class="struct_object_delete" href="#"><i class="icon $!{iconDeleteCssClass}" title="delete"></i></a>
    </div>
  </li>
  #set($asc = !$fieldName.startsWith('-'))
  #set($sortFieldName  = $fieldName.replaceFirst('-', ''))
  <!-- sortFieldName: $!sortFieldName -->
  <!-- asc: $!asc -->
  #foreach($obj in $services.collections.getObjectsOrdered($doc, $classRef, $sortFieldName, $asc))
  <li>
    $!services.celementsweb.setGlobalContextValue('cell.number', $obj.getNumber())
    $!services.layout.renderPageLayout($objectRowLayout.layoutSpaceRef)
    <a class="struct_object_delete" href="#"><i class="icon $!{iconDeleteCssClass}" title="delete"></i></a>
  </li>
  #end
  $!services.celementsweb.setGlobalContextValue('cell.number', $null)
#else ## canRenderLayout
  <li>No valid Layout found at '$!objectRowLayoutName'</li>
#end
#set($objectRowLayoutName = '')
