<!-- ObjectListView -->
#if("$!celldoc" != '')
  #set($classRef = $services.structuredDataEditor.getCellClassRef($celldoc.documentReference).orElse($null).docRef)
#end
<!-- celldoc: $!celldoc.documentReference -->
<!-- classRef: $!services.model.serialize($classRef) -->

#set($className = $classRef.name.replace('Class', ''))
#foreach($layoutName in ["$!objectRowLayoutName", "ObjectList-Row-$!className", "$!{className}-EditFields"])
  #set($layoutRef = $services.reference.create().space($layoutName).build())
  #set($objectRowLayout = $services.layout.getPageLayoutApiForRef($layoutRef))
  #if($objectRowLayout)#break#end
#end
#set($objectHeaderLayoutRef = $services.reference.create().space("ObjectList-Header-$!{className}").build())
#set($objectHeaderLayout = $services.layout.getPageLayoutApiForRef($objectHeaderLayoutRef))
#if($objectRowLayout)
  <!-- objectRowLayout: $!objectRowLayout.layoutSpaceRef -->
  $services.javascript.addExtJSfileOnce(':structEditJS/CelStructList.mjs', 'file')
  #if("$!iconCreateCssClass" == '') #set($iconCreateCssClass = "halflings icon-plus") #end
  #if("$!iconDeleteCssClass" == '') #set($iconDeleteCssClass = "halflings icon-trash") #end
  <li class="struct_object_header">
    #if($objectHeaderLayout)
    <!-- objectHeaderLayout: $!objectHeaderLayout.layoutSpaceRef -->
    $!services.layout.renderPageLayout($objectHeaderLayout.layoutSpaceRef)
    #else
    <label class="struct_object_label">$adminMsg.get($services.model.serialize($classRef))</label>
    <a class="struct_object_create" href="#"><i class="icon $!{iconCreateCssClass}" title="create"></i></a>
    #end
    <template class="cel_template">
      $!services.celementsweb.setGlobalContextValue('cell.number', -1)
      $!services.layout.renderPageLayout($objectRowLayout.layoutSpaceRef)
      <a class="struct_object_delete" href><i class="icon $!{iconDeleteCssClass}" title="delete"></i></a>
    </template>
  </li>
  #foreach($obj in $services.structuredDataEditor.getObjectsForCell($celldoc.documentReference))
  <li data-obj-nb="$!obj.number">
    $!services.celementsweb.setGlobalContextValue('cell.number', $obj.number)
    $!services.layout.renderPageLayout($objectRowLayout.layoutSpaceRef)
    <a class="struct_object_delete" href="#"><i class="icon $!{iconDeleteCssClass}" title="delete"></i></a>
  </li>
  #end
  $!services.celementsweb.setGlobalContextValue('cell.number', $null)
#else ## canRenderLayout
  <li>No valid Layout found at '$!objectRowLayoutName' or 'ObjectList-Row-$!className'</li>
#end
#set($objectRowLayoutName = '')
