<!-- ObjectListView -->
#if("$!celldoc" != '')
  #set($classRef = $services.structuredDataEditor.getCellClassRef($celldoc.documentReference).orElse($null).docRef)
#end
<!-- classRef: $!services.model.serialize($classRef) -->
#if("$!celldoc" != '')
  #set($fieldName = $services.structuredDataEditor.getCellFieldName($celldoc.documentReference).orElse(''))
#end
<!-- fieldName: $!fieldName -->

#set($className = $classRef.name.replace('Class', ''))
#foreach($layoutName in ["$!objectRowLayoutName", "ObjectList-Row-$!className", "$!{className}-EditField"])
  #set($layoutRef = $services.reference.create().space($layoutName).build())
  #set($objectRowLayout = $services.layout.getPageLayoutApiForRef($layoutRef))
  #if($objectRowLayout)#break#end
#end
#set($objectHeaderLayoutRef = $services.reference.create().space("ObjectList-Header-$!{className}").build())
#set($objectHeaderLayout = $services.layout.getPageLayoutApiForRef($objectHeaderLayoutRef))

#if($objectRowLayout)
  <!-- objectRowLayout: $!objectRowLayout.layoutSpaceRef -->
  #if("$!iconCreateCssClass" == '') #set($iconCreateCssClass = "halflings icon-plus") #end
  #if("$!iconDeleteCssClass" == '') #set($iconDeleteCssClass = "halflings icon-trash") #end
  <li class="struct_object_creation">
    #if($objectHeaderLayout)
    <!-- objectHeaderLayout: $!objectHeaderLayout.layoutSpaceRef -->
    $!services.layout.renderPageLayout($objectHeaderLayout.layoutSpaceRef)
    #else
    <label class="struct_object_label">$adminMsg.get($services.model.serialize($classRef))</label>
    <a class="create" href="#"><i class="icon $!{iconCreateCssClass}" title="create"></i></a>
    #end
    <template class="cel_template">
      $!services.celementsweb.setGlobalContextValue('cell.number', -1)
      $!services.layout.renderPageLayout($objectRowLayout.layoutSpaceRef)
      <a class="struct_object_delete" href="#"><i class="icon $!{iconDeleteCssClass}" title="delete"></i></a>
    </template>
  </li>
  #set($asc = !$fieldName.startsWith('-'))
  #set($sortFieldName  = $fieldName.replaceFirst('-', ''))
  <!-- sortFieldName: $!sortFieldName -->
  <!-- asc: $!asc -->
  #foreach($obj in $services.collections.getObjectsOrdered($doc, $classRef, $sortFieldName, $asc))
  <li>
    $!services.celementsweb.setGlobalContextValue('cell.number', $obj.getNumber())
    $!services.layout.renderPageLayout($objectRowLayout.layoutSpaceRef)
    <a class="struct_object_delete" href="#"><i class="icon $!{iconDeleteCssClass}" title="delete"></i></a>
  </li>
  #end
  $!services.celementsweb.setGlobalContextValue('cell.number', $null)
#else ## canRenderLayout
  <li>No valid Layout found at '$!objectRowLayoutName' or 'ObjectList-Row-$!className'</li>
#end
#set($objectRowLayoutName = '')
