<!-- SelectTagView -->
## tries to render option-tags from XWiki ListClass
## NOTE we cannot simply use XWiki's displayEdit here because it also renders the select-tag around it
#set($cellDocRef = $celldoc.getDocumentReference())
#set($supportedClasses = ['ListClass','StaticListClass','DBListClass','DBTreeListClass','UsersClass','GroupsClass','LevelsClass'])
#set($supportedDisplayTypes = ['select'])
#set($propClass = $services.structuredDataEditor.getCellPropertyClass($cellDocRef))
#set($renderedContent = $services.celementsweb.renderDocument($cellDocRef))
#if("$!renderedContent" != '')
  $renderedContent
#elseif(!$propClass.isPresent())
  <!-- WARN SelectTagView: no edit field defined on cell: $!celldoc -->
#elseif(!$supportedClasses.contains($propClass.get().getType()))
  <!-- WARN SelectTagView: doesn't support edit field class: $!propClass.get().getType() -->
#elseif(!$supportedDisplayTypes.contains($propClass.get().getProperty('displayType').getValue()))
  <!-- WARN SelectTagView: doesn't support display type: $!propClass.get().getProperty('displayType').getValue() -->
#else
  #set($setValues = $services.structuredDataEditor.getCellListValue($cellDocRef))
  #set($valueMap = $propClass.get().getMapValues())
  #foreach($keyValue in $propClass.get().getListValues())
    #set($displayValue = $!valueMap.get($keyValue).getValue())
    #if("$!displayValue" == "")
      #set($displayValue = $keyValue)
    #end
    <option value="$!keyValue" #if($setValues.contains($keyValue)) selected #end>$!displayValue</option>
  #end
#end
