<!-- StructuredDataEditorView -->

##TODO get navigation config from pageType document

#if("$!celldoc" != '')
#set($contentDoc = $celldoc)
#else
#set($contentDoc = $tdoc)
#end
#set($ptConfig = $services.pageType.getPageTypeConfig("$page_type"))
#if("$!page_type" != 'StructuredDataEditor')
  ##TODO move editor layout space computation out of Navigation Configuration!!!
  #set($structDataEditorNav = $services.treeNode.getJavaNavigation("StructuredDataEditor"))
  #set($structDataEditorSpaceRef = $structDataEditorNav.getNodeSpaceRef())
  #parse('celMacros/struct/renderEditorLayout.vm')
#else
  <p>
    Please create a page-type with View-Template: '$ptConfig.getRenderTemplateForRenderMode('view')'
  </p>
#end ## "$!page_type" != 'StructuredDataEditor'