#if("$!request.get('xredirect')" != '')
  #set($xredirect = $!request.getParameter('xredirect'))
#else
  #set($xredirect = "$doc.getURL('view')")
#end
#set($redirectStr = "xredirect=$xredirect")
<div id="structEditFieldEdit">
  <h1>Struct Edit Field</h1>
  <form id="structEditFieldEditForm" method="post" action="?">
    <input type="hidden" name="template" value="$!doc.getTemplate()" />
    <input type="hidden" name="xredirect" value="$!xredirect" />
    <input type="hidden" name="language" value="$!tdoc.language" />
    <input type="hidden" name="xpage" value="celements_ajax" />
    <input type="hidden" name="ajax_mode" value="saveDocumentWithValidation" />
    <input type="hidden" name="createIfNotExists" value="true" />
    <div id="editablecode_container">
      #set($cel_editobj_classname = 'Celements.StructEditFieldClass')
      #set($structFieldObj = $celldoc.getObject($cel_editobj_classname, true))
      #set($cel_editobj_dict_prefix = 'cel_structEditor_edit_' )
      #set($cel_embedded_editobj = true)
      #set($createIfNotExists = true)
      #set($cel_editobj_nb = $structFieldObj.getNumber())
      #set($cel_editobj_hasObjRemoveLink = false)
      #set($cel_editobj_externalForm = true)
      #set($cel_editobj_properties = '')
      #foreach($prop in $services.modelAccess.getDocument($cel_editobj_classname).xWikiClass.properties)
        #set($cel_editobj_properties = "${cel_editobj_properties},${prop.name}")
      #end
      #parse("celTemplates/ObjectEdit.vm")
      $xwiki.parseTemplate("celTemplates/fieldTypeEdit/${page_type}.vm")

      <h4>Object Filters</h4>
      #set($cel_editobj_classname = 'Classes.KeyValueClass')
      #set($createIfNotExists = false)
      #set($cel_embedded_editobj = true)
      #set($cel_editobj_objects = $doc.getObjects($cel_editobj_classname))
      #set($cel_editobj_hasObjAddLink = true)
      #set($cel_editobj_hasObjRemoveLink = true)
      #set($cel_editobj_externalForm = true)
      #set($cel_editobj_properties = '')
      #foreach($prop in $xwiki.getDocument($cel_editobj_classname).xWikiClass.properties)
        #set($cel_editobj_properties = "${cel_editobj_properties},${prop.name}")
      #end
      #parse("celTemplates/ObjectEdit.vm")
      <hr />

      <h4>Attributes</h4>
      #set($cel_editobj_classname = 'Celements.CellAttributeClass')
      #set($createIfNotExists = false)
      #set($cel_embedded_editobj = true)
      #set($cel_editobj_objects = $doc.getObjects($cel_editobj_classname))
      #set($cel_editobj_hasObjAddLink = true)
      #set($cel_editobj_hasObjRemoveLink = true)
      #set($cel_editobj_externalForm = true)
      #set($cel_editobj_properties = '')
      #foreach($prop in $xwiki.getDocument($cel_editobj_classname).xWikiClass.properties)
        #set($cel_editobj_properties = "${cel_editobj_properties},${prop.name}")
      #end
      #parse("celTemplates/ObjectEdit.vm")
      <hr />

    </div>
  </form>
</div>
