#if("$!celldoc" != '')
#set($contentDoc = $celldoc)
#else   
#set($contentDoc = $tdoc)
#end
#set($overwritePresCmCssClass = '')
#set($overwriteNavCMcssClass = 'cel_cm_strucured_data_editor_element')
#set($emptyDictKeySuffix = '_strucured_data_editor')
#if("$!structDataEditorPresentationCount" == '')
#set($structDataEditorPresentationCount = 0)
#end
#set($structDataEditorNav = $celementsweb.createNavigation())
$structDataEditorNav.loadConfigFromDoc($celldoc.documentReference)
#set($structDataEditorSpace = $structDataEditorNav.getNodeSpaceRef().getName())
#set($structDataEditorPresentationCount = $structDataEditorPresentationCount + 1)
<div id="GP$!{structDataEditorPresentationCount}$!{contentDoc.getName()}:$!{structDataEditorSpace}:" class="structDataEditor cel_cm_strucured_data_editor">
#parse('celTemplates/PresentationView.vm')
</div>