<!-- TableView -->
#set($cellDocRef = $celldoc.getDocumentReference())
$!services.structData.renderTable($cellDocRef)
$!services.javascript.addExtJSfileOnce(':structEditJS/cel-table.mjs?version=20230806', 'file')
