#set($cellDocRef = $celldoc.getDocumentReference())
#set($prettyName = $services.structuredDataEditor.getPrettyName($cellDocRef))
#set($attrMap = $services.structuredDataEditor.getTextAreaAttributes($cellDocRef))
<label class="structuredDataEditorLabel">$!prettyName</label>
<textarea##
#foreach($attrEntry in $attrMap.entrySet())
  ${attrEntry.key}="$!{attrEntry.value}"
#end
>
$!services.structuredDataEditor.getCellValueAsString($cellDocRef)
</textarea>