#set($cellDocRef = $celldoc.getDocumentReference())
#set($dictionaryKey = $services.structuredDataEditor.getDictionaryKey($cellDocRef))
#set($rowsColsMap = $services.structuredDataEditor.getRowsAndColsFromTextarea($cellDocRef))
<label class="structuredDataEditorLabel">$msg.get($dictionaryKey)</label>
<textarea rows="$rowsColsMap.rows" cols="$rowsColsMap.cols">
$!services.structuredDataEditor.getValueFromTextArea($cellDocRef)
</textarea> 