<!-- TextAreaFieldView -->
#set($cellDocRef = $celldoc.getDocumentReference())
#set($prettyName = $services.structuredDataEditor.getPrettyName($cellDocRef))
#set($attrMap = $services.structuredDataEditor.getTextAreaAttributes($cellDocRef))
#set($cssClassesTA = "structEditTextArea")
#set($cssClassesLabel = "structuredDataEditorLabel")
#if($attrMap.isRichtext)
  #set($cssClassesTA = "${cssClassesTA} tinyMCE mceEditor tinyMCEV4")
  #set($cssClassesLabel = "${cssClassesLabel} tinyMCELabel mceEditorLabel")
#end
<label class="$cssClassesLabel">$!prettyName</label>
<textarea class="$cssClassesTA"##
  #foreach($attrEntry in $attrMap.entrySet())##
    ${attrEntry.key}="$!{attrEntry.value}"##
  #end##
>##
$!services.structuredDataEditor.getCellValueAsString($cellDocRef)##
</textarea>