@CHARSET "UTF-8";

/* structEdit.css:
 * struct editor layout
 * 2016 - 2019 synventis gmbh
 */

.structEditorModalDialog {
  font-family:"Open Sans",Tahoma,Geneva,Helvetica,Arial,sans-serif;
}

.structEditorModalDialog .yui-dialog .ft span.default button {
  font-family:"Open Sans",Tahoma,Geneva,Helvetica,Arial,sans-serif;
  background-color: #ff9900;
  color:#333333 !important;
}

.structEditorModalDialog .yui-dialog .ft span.default button:hover {
  background-color: #ffBB00;
}

.structDataEditor input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.structDataEditor input[type=number] {
  -moz-appearance:textfield;
}


/*------- Struct Table ------*/

.struct_table ul.struct_table_header,
.struct_table ul.struct_table_data {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.struct_table ul.struct_table_header {
  font-weight: bold;
}

.struct_table ul li.struct_table_row {
  display: flex;
  width: 100%;
}

.struct_table ul li.struct_table_row .struct_table_cell:first-child {
  margin-left: 10px;
}

.struct_table.border ul.struct_table_data li.struct_table_row {
  border-color: #888;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
}

.struct_table.border ul.struct_table_data li.struct_table_row:last-child {
  border-bottom: 1px solid;
}

.struct_table ul.struct_table_data li.struct_table_row:nth-child(odd) {
  background-color: #eee;
}

.struct_table ul.struct_table_data li.struct_table_row:hover {
  background-color: #dddddd;
}

.struct_table .struct_table_cell {
  display: flex;
  position: relative;
  align-items: center;
  width: 200px;
  padding: 9px;
  margin-right: 20px;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

.struct_table .struct_table_cell.row_span {
  width: 100%;
  padding-top: 14px;
}	

.struct_table .struct_table_cell.edit,
.struct_table .struct_table_cell.delete {
  width: 25px;
  margin-right: 0px;
  text-align: center;
}

.struct_table.border ul.struct_table_data .struct_table_cell.edit,
.struct_table.border ul.struct_table_data .struct_table_cell.delete {
  border-color: #888;
  border-left: 1px solid;
}

.struct_table .struct_table_cell.title {
  background: inherit;
  font: inherit;
  font-style: inherit;
  color: inherit;
}

/** celements language bar **/
.structEditorRoot .languageSelectorBar {
  position: relative;
  height: 30px;
  padding-top: 10px;

}
.structEditorRoot .languageSelectorBar .languageVersions {
  position: absolute;
  left: 20px;
  z-index: 3;
}
.structEditorRoot .languageSelectorBar .languageVersions .viewTranslation,
.structEditorRoot .languageSelectorBar .languageVersions .viewLanguageVersion {
  display: block;
  width: 23px;
  height: 19px;
  float: none;
  padding-top: 1px;
  text-align: center;
  text-decoration: none;
}
.structEditorRoot .languageSelectorBar .languageVersions .mainLanguage {
  font-weight: bold;
}
.structEditorRoot .languageSelectorBar .languageVersions ul li.languageListElement.activated:hover span {
  background-color: #015470;
  color: white;
  cursor: pointer;
}
.structEditorRoot .languageSelectorBar .languageVersions ul li.languageListElement.deactivated:hover,
.structEditorRoot .languageSelectorBar .languageVersions ul li.languageListElement.deactivated:hover span {
  cursor: default;
}
.structEditorRoot .languageSelectorBar .languageVersions .viewTranslation,
.structEditorRoot .languageSelectorBar .languageVersions .viewLanguageVersion {
  background-color: #555;
  color: white;
}
.structEditorRoot .languageSelectorBar .languageVersions .transNotExists {
  background-color: white;
  color: black;
}
.structEditorRoot .languageSelectorBar .languageVersions ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  /** flex **/
  display: box; /** old browsers **/
  display: flexbox; /** for IE10 **/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap; /** for IE10 **/
  -webkit-flex-wrap: wrap; /** Safari 6.1+ **/
  flex-wrap: wrap;
}
.structEditorRoot .nowrap > .languageSelectorBar .languageVersions ul {
  flex-wrap: nowrap;
}
.structEditorRoot .languageSelectorBar .languageVersions ul li.languageListElement {
  float: none;
  position: relative;
  padding-top: 5px;
  padding-bottom: 2px;
  border-top: 2px solid transparent;
}
.structEditorRoot .languageSelectorBar .languageVersions ul li.languageListElement.active {
  border-top: 2px solid #555;
}

/*--- autocomplete --*/
.structEditorRoot .struct_autocomplete_link a:not([href]),
.structEditorRoot .struct_autocomplete_link a[href=""],
.structEditorRoot .struct_autocomplete_link a[href="#"] {
  display: none;
}
.select2-container .view_cel_buttonLink .halflings {
  float: right;
  padding-left: 5px;
  line-height: 15px;
}
.select2-container .view_cel_buttonLink .halflings:before {
  color: #9fb0cd;
}
.select2-container .cel_button {
  display: inline-block;
  margin-right: 0px;
}
.select2-container .cel_button .view_cel_buttonLink {
  float: none;
  width: 170px;
  border: 1px solid #9fb0cd;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px;
  cursor: pointer;
}


