input {
  border: 1px solid #9fb0cd;
  box-shadow: none;
  border-radius: 0px;
  padding: 0px 3px;
  margin-right: 3px;
  height: 18px;
}

input.validation-failed {
  border: 1px solid red;
  background-color: #fbb;
}

input.dateInputField {
  width: 70px;
  min-width: 0;
}

input.timeInputField {
  width: 37px;
  min-width: 0;
}

i {
  cursor: pointer;
  opacity: 0.6;
  margin-right: 8px;
}

i:hover {
  opacity: 1;
}
