#set($jsonBuilder = $services.json.newBuilder())##
$jsonBuilder.openDictionary()##
#set($cellDocRef = $services.model.resolveDocument($request.cellRef))##
#set($autoComplete = $services.structuredDataEditor.getSelectTagAutoCompleteImpl($cellDocRef).orElse($null))##
#if($services.rightsAccess.isLoggedIn() && "$!autoComplete" != '')##
  #set($offset = $util.parseInt("$!request.offset"))##
  #if($offset < 0) #set($offset = 0) #end##
  $jsonBuilder.addProperty('offset', $offset)##
  #set($limit = $util.parseInt("$!request.limit"))##
  #if($limit <= 0) #set($limit = 10) #end##
  $jsonBuilder.addProperty('limit', $limit)##
  #set($luceneSearchResult = $autoComplete.search($request.searchterm))##
  #set($hasMore = $luceneSearchResult.getSize() > ($offset + $limit))##
  $jsonBuilder.addProperty('hasMore', $hasMore)##
  #set($stfu = $luceneSearchResult.setLimit($limit))##
  #set($stfu = $luceneSearchResult.setOffset($offset))##
  $jsonBuilder.openArray('results')##
  #foreach ($resultDocRef in $luceneSearchResult.getResults())##
   $jsonBuilder.addValue($autoComplete.getJsonForValue($resultDocRef))##
  #end##
  $jsonBuilder.closeArray()##
#end##
$jsonBuilder.closeDictionary()##
$jsonBuilder.getJSON()