#set($jsonBuilder = $services.json.newBuilder())##
$jsonBuilder.openDictionary()##
#set($autoComplete = $services.structuredDataEditor.getSelectTagAutoCompleteImpl($request.type).orElse($null))##
#if($services.rightsAccess.isLoggedIn() && "$!autoComplete" != '')##
  $jsonBuilder.addProperty('type', "$!autoComplete.name")##
  $jsonBuilder.addProperty('searchterm', "$!request.searchterm")##
  #set($offset = $util.parseInt("$!request.offset"))##
  #if($offset < 0) #set($offset = 0) #end##
  $jsonBuilder.addProperty('offset', $offset)##
  #set($limit = $util.parseInt("$!request.limit"))##
  #if($limit <= 0) #set($limit = 10) #end##
  $jsonBuilder.addProperty('limit', $limit)##
  #set($luceneSearchResult = $autoComplete.search($cellDocRef, $request.searchterm))##
  #if($isSuperAdmin)##
    $jsonBuilder.addProperty('luceneSearchResult', $luceneSearchResult)##
  #end##
  #set($hasMore = $luceneSearchResult.getSize() > ($offset + $limit))##
  $jsonBuilder.addProperty('hasMore', $hasMore)##
  #set($stfu = $luceneSearchResult.setLimit($limit))##
  #set($stfu = $luceneSearchResult.setOffset($offset))##
  $jsonBuilder.openArray('results')##
  #foreach ($resultDocRef in $luceneSearchResult.getResults())##
    $jsonBuilder.addValue($autoComplete.getJsonForValue($resultDocRef, $cellDocRef))##
  #end##
  $jsonBuilder.closeArray()##
#end##
$jsonBuilder.closeDictionary()##
$jsonBuilder.getJSON()