#set($xredirect = "$!request.xredirect")
#if ("$!xredirect" == '')
  #set($xredirect = $services.url.getURL())
#end
#set($xredirect = $escapetool.url($xredirect))
#set($url = $services.url.getURL($rowdoc.documentReference, 'edit', "xredirect=${xredirect}"))
<a class="icon-link" href="$!url"><i class="icon halflings icon-pencil" title="edit"></i></a>
