#if ("$!xredirect" == '')
  #set($xredirect = "$!request.xredirect")
#end
#if ("$!xredirect" == '')
  #set($xredirect = $services.url.getURL())
#end
#set($xredirect = $escapetool.url($xredirect))
#set($url = $services.url.getURL($rowdoc.documentReference, 'edit', "xredirect=${xredirect}"))
#if("$!iconEditCssClass" == '') #set($iconEditCssClass = "halflings icon-pencil") #end
<a class="icon-link" href="$!url"><i class="icon $!{iconEditCssClass}" title="edit"></i></a>
