#if ("$!xredirect" == '')
  #set($xredirect = "$!request.xredirect")
#end
#if ("$!xredirect" == '')
  #set($xredirect = $services.url.getURL())
#end
#set($xredirect = $escapetool.url($xredirect))
#set($query = "xredirect=${xredirect}")
#if("$!xcancel" == '')
  #set($xcancel = "$!request.xcancel")
#end
#if("$!xcancel" !='')
  #set($xcancel = $escapetool.url($xcancel))
  #set($query = "${query}&xcancel=${xcancel}")
#end
#set($url = $services.url.getURL($rowdoc.documentReference, 'delete', $query))
#if("$!iconCreateCssClass" == '') #set($iconCreateCssClass = "halflings icon-plus") #end
<a class="icon-link" #if(!$isDisabled)href="$!url" #end #if($isDisabled) disabled #end><i class="icon $!{iconDeleteCssClass}" title="$adminMsg.get('cel_struct_col_delete')"></i></a>
