#set($isAjax = "$!request.get('ajax')" == '1')
#if($isAjax)
  #set($json = $services.json.newBuilder())
  $json.openDictionary()
#end
#set($docType = $request.get('docType'))
#if($services.pageType.getPageTypeConfig("$!docType"))
  #set($templateName = $request.get('templateName'))
  #if("$!templateName" == '')
    #set($templateName = $docType)
  #end
  ## TODO Parameter müssen wir noch anpassen
  #set($newDocRef = $services.nextfreedoc.getNextRandomPageDocRef($docType))
  #if($isAjax)
    $json.addProperty('docType', "$!docType")
    $json.addProperty('templateName', "$!templateName")
    $json.addProperty('newDocFN', "$!services.reference.serialize($newDocRef, 'local')")
  #else
    #set($createLink = $services.url.getURL($newDocRef, "edit"))
    #if($request.debug == '1')
      redirect: $createLink
    #else
      $response.sendRedirect("$!createLink")
    #end
  #end
#else
  #if($isAjax)
    $json.addStringProperty('errorMsg', "Invalid doc type: $!docType")
  #else
    Invalid doc type: $!docType
  #end
#end
#if($isAjax)
  $json.closeDictionary()
  $!json.getJSON()
#end
