#set($pageType = $request.get('pageType'))
#if($services.pageType.getPageTypeConfig("$!pageType"))
  #set($template = $request.get('template'))
  #if("$!template" == '')
    #set($template = "celements2web:Templates.$pageType")
  #end
  #set($namingMode = $request.get('namingMode'))
  #set($prefix = $request.get('prefix'))
  #set($spaceRef = $services.reference.create().space($pageType).build())
  #if($namingMode == 'random')
     #set($lengthOfRandomAlphanumeric = $util.parseInt($request.get('lengthOfRandomAlphanumeric')))
    #set($newDocRef = $services.nextfreedoc.getNextRandomPageDocRef($spaceRef, $lengthOfRandomAlphanumeric, $prefix))
  #elseif("$!prefix" == '')
    #set($newDocRef = $services.nextfreedoc.getNextUntitledPageDocRef($spaceRef))
  #else
    #set($newDocRef = $services.nextfreedoc.getNextTitledPageDocRef($spaceRef, $prefix))
  #end
  #set($query = "&template=$!{template}")
  #if("$!request.xredirect" != '')
  #set($query = "$!{query}&xredirect=$!{request.xredirect}")
  #end
  #if("$!request.xcancel" != '')
  #set($query = "$!{query}&xcancel=$!{request.xcancel}")
  #end
  #set($createLink = $services.url.getURL($newDocRef, "edit", $query))
  #if($request.debug == '1')
    redirect: $createLink
  #else
    $response.sendRedirect("$!createLink")
  #end
#else
  Invalid doc type: $!pageType
#end
