$jsonBuilder.openDictionary('structEditor')

  $jsonBuilder.addStringProperty('unsavedChangesOnCloseMessage', "$!adminMsg.get('cel_tm_unsavedChangesOnCloseMessage')")
  $jsonBuilder.addStringProperty('savingDialogWarningHeader', "$!adminMsg.get('cel_tm_saving_dialog_warning_header')")
  $jsonBuilder.addStringProperty('savingDialogMessage', "$!adminMsg.get('cel_tm_saving_dialog_unsaved_changes')")
  $jsonBuilder.addStringProperty('savingDialogButtonCancel', "$!adminMsg.get('cel_cancel')")
  $jsonBuilder.addStringProperty('savingDialogButtonSave', "$!adminMsg.get('cel_tm_saving_dialog_button_save')")
  $jsonBuilder.addStringProperty('savingDialogButtonDoNotSave', "$!adminMsg.get('cel_tm_saving_dialog_button_donotsave')")
  $jsonBuilder.addStringProperty('savingDialogHeader', "$!adminMsg.get('cel_tm_saving_dialog_header')")
  $jsonBuilder.addStringProperty('savingFailed', "$!adminMsg.get('cel_tm_saving_failed')")
  $jsonBuilder.addStringProperty('savingFailedDialogHeader', "$!adminMsg.get('cel_tm_saving_failed_dialog_header')")
  $jsonBuilder.addStringProperty('savingFailedDialogText', "$!adminMsg.get('cel_tm_saving_failed_dialog_text')")
  $jsonBuilder.addStringProperty('objectRemoveConfirm', "$!adminMsg.get('cel_objectedit_removeobject')?")

  $jsonBuilder.openDictionary('autocomplete')
    $jsonBuilder.addStringProperty('placeholder_default', "$!adminMsg.cel_struct_autocomplete_placeholder_default")
    $jsonBuilder.addStringProperty('addNewButtonText_default', "$!adminMsg.cel_struct_autocomplete_addNewButtonText_default")
  $jsonBuilder.closeDictionary()

$jsonBuilder.closeDictionary()
