#if("$!tinyMCE_height" == '')
  #set($tinyMCE_height = 500)
#end
#set($rtePluginsPre = ["print","preview","searchreplace","autolink","directionality","visualblocks","visualchars","fullscreen","image","link","media","template","codesample","table","charmap","hr","pagebreak","nonbreaking","anchor","toc","insertdatetime","advlist","lists","textcolor","wordcount","imagetools","contextmenu","colorpicker","textpattern","help"])
#set($rtePluginsConfig = $services.rteconfig.getRTEConfigField('plugins'))
## adding celements tinymce plugins
#set($!dev = $rtePluginsPre.addAll(["celimage", "cellink"]))
#set($rteOmitPlugins = [])
#if("$!rtePluginsConfig" != '')
  #foreach($oneRtePlugin in $rtePluginsConfig.split('[,| ]'))
    #if($oneRtePlugin.startsWith('-'))
      #set($!dev = $rteOmitPlugins.add($oneRtePlugin.replaceFirst('-','')))
    #elseif("$!oneRtePlugin" != '')
      #set($!dev = $rtePluginsPre.add($oneRtePlugin))
    #end
  #end
#end
#set($rtePlugins = '')
  #foreach($oneRtePlugin in $rtePluginsPre)
    #if(("$!oneRtePlugin" != '') && !$rteOmitPlugins.contains($oneRtePlugin))
      #set($rtePlugins = "$!{rtePlugins} $!oneRtePlugin")
    #end
  #end
#set($jsonBuilder = $services.celementsweb.getNewJSONBuilder())##
$jsonBuilder.openDictionary()##
$jsonBuilder.addStringProperty("selector", "textarea.tinyMCE")##
$jsonBuilder.addStringProperty("language", "$!admin_language")##
$jsonBuilder.addStringProperty("theme", "modern")##
$jsonBuilder.addStringProperty("height", "$tinyMCE_height")##
$jsonBuilder.addProperty("menubar", false)##
$jsonBuilder.addStringProperty("plugins", "$!rtePlugins")##
$jsonBuilder.openProperty("external_plugins")##
$jsonBuilder.openDictionary()##
$jsonBuilder.addStringProperty("celimage", $services.celementsweb.getSkinFile(':celRTE/4.7.12/plugins/celimage/editor_plugin_src.js', 'file'))##
$jsonBuilder.addStringProperty("cellink", $services.celementsweb.getSkinFile(':celRTE/4.7.12/plugins/cellink/editor_plugin_src.js', 'file'))##
$jsonBuilder.closeDictionary()## external plugins
$jsonBuilder.closeDictionary()## tiny4 config dictionary
$jsonBuilder.getJSON()
##        toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
##        image_advtab: true,
##        templates: [
##          { title: 'Test template 1', content: 'Test 1' },
##          { title: 'Test template 2', content: 'Test 2' }
##        ],
##        content_css: [
##          '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
##          '//www.tinymce.com/css/codepen.min.css'
##        ]
