#set($cel_editobj_dict_prefix = 'cel_selectTagAutocompleteEditor_edit_' )
#set($cel_embedded_editobj = true)
#set($cel_editobj_classname = 'Celements.SelectTagAutocompleteEditorClass')
#set($obj = $celldoc.getObject($cel_editobj_classname, true))
#set($cel_editobj_nb = $obj.getNumber())
#set($createIfNotExists = true)
#set($cel_editobj_hasObjRemoveLink = false)
#set($cel_editobj_externalForm = true)
#set($cel_editobj_properties = '')
#foreach($prop in $services.modelAccess.getDocument($cel_editobj_classname).xWikiClass.properties)
  #set($cel_editobj_properties = "${cel_editobj_properties},${prop.name}")
#end
#set($cel_editobj_readonly_properties = '')
#parse("celTemplates/ObjectEdit.vm")

#set($autoComplete = $services.structuredDataEditor.getSelectTagAutoCompleteImpl($celldoc.documentReference).orElse($null))
#if("$!autoComplete.name" == 'default')
  #set($cel_editobj_dict_prefix = 'cel_search_edit_' )
  #set($cel_editobj_classname = 'Celements2.WebSearchConfigClass')
  <h2>$adminMsg.get("${cel_editobj_dict_prefix}${cel_editobj_classname}")</h2>
  #set($obj = $celldoc.getObject($cel_editobj_classname, true))
  #set($cel_editobj_nb = $obj.getNumber())
  #set($cel_editobj_properties = '')
  #foreach($prop in $services.modelAccess.getDocument($cel_editobj_classname).xWikiClass.properties)
    #set($cel_editobj_properties = "${cel_editobj_properties},${prop.name}")
  #end
  #parse("celTemplates/ObjectEdit.vm")
  #set($cel_editobj_classname = 'Celements2.WebSearchFieldConfigClass')
  #set($cel_editobj_nb = '')
  #set($createIfNotExists = false)
  #set($cel_editobj_hasObjAddLink = true)
  #set($cel_editobj_hasObjRemoveLink = true)
  #set($cel_editobj_properties = '')
  #foreach($prop in $services.modelAccess.getDocument($cel_editobj_classname).xWikiClass.properties)
    #set($cel_editobj_properties = "${cel_editobj_properties},${prop.name}")
  #end
  #parse("celTemplates/ObjectEdit.vm")
#end
