<div id="con_langBar" class="editblock">
    <div class="docLangs">
  #if("$!docTransList" == '')
    #set($docTransList = $doc.getTranslationList())
  #end
  #foreach($transLang in $services.webUtils.getAllowedLanguages())
    #set($transCssClass = '')
    #if("$!transLang" == "$!{doc.getDefaultLanguage()}")
      #set($transCssClass = "$!{transCssClass} defaultLanguage transExists")
    #elseif($docTransList.contains("$!transLang"))
      #set($transCssClass = "$!{transCssClass} transExists")
    #else
      #set($transCssClass = "$!{transCssClass} transNotExists")
    #end
      <span class="$!{transCssClass.trim()}" ##
       title="$!adminMsg.get("cel_$!{transLang}")">##
      $!{transLang}</span>
  #end
  #set($docTransList = '')
    </div>
    $adminMsg.get('cel_tm_edit_translation'):
    <input type="hidden" id="langbar-initialEditorLanguage" name="initialEditorLanguage" value="$!language" />
    <select name="language" size="1" style="width:100px;"> 
##TODO move to StructEditor.js
##  onchange="var langSelect = this; getCelementsTabEditor().changeEditLanguage(langSelect.value, function() { langSelect.value=$('langbar-initialEditorLanguage').value; }); return false;">
      #foreach($dl in $langs)
        <option #if("$!language" == "$dl")selected="selected"#end value="$dl"##
         label="$adminMsg.get("cel_${dl}")">$adminMsg.get("cel_$dl")</option>
      #end
    </select>
</div><!-- /con_langBar -->