#if($services.structuredDataEditor.isMultilingual($cellDocRef))
#set($attrName = $services.structuredDataEditor.getAttributeName($cellDocRef).orElse(''))
#set($fieldName = $services.structuredDataEditor.getCellFieldName($cellDocRef).orElse(''))
<input type="hidden" name="$attrName.replace($fieldName, 'lang')" value="$!language" />
#end
