<!-- renderEditorLayout -->
#**************************************************************
 * INPUT Parameters
 * $structDataEditorSpaceRef : required, editor layout space reference
 * $activateJsCheckUnsaved : optional, boolean
***************************************************************#
#set($layout = $services.layout.getPageLayoutApiForRef($structDataEditorSpaceRef))
#set($structDataEditorCfgDocRef = $layout.layoutConfigDocRef)
#set($structDataEditorSpace = $structDataEditorSpaceRef.name)
#if($isSuperAdmin)
<!--
  structDataEditorCfg: $!{services.model.serialize($structDataEditorCfgDocRef)}
-->
#end

#foreach($path in $services.structData.getJavaScriptFiles($structDataEditorCfgDocRef))
  $services.javascript.addExtJSfileOnce("$!{path}", 'file')
#end
#if(!$skipRenderEditLayoutCssIncludes)
#set($skipRenderEditLayoutCssIncludes = true)
<link rel="stylesheet" type="text/css" href="$services.celementsweb.getSkinFile(':celJS/yui/assets/skins/sam/container.css', 'file')">
<link rel="stylesheet" type="text/css" href="$services.celementsweb.getSkinFile(':celJS/yui/assets/skins/sam/button.css', 'file')">
<link rel="stylesheet" type="text/css" href="$services.celementsweb.getSkinFile(':structEditRes/structEdit.css', 'file')">
<link rel="stylesheet" type="text/css" href="$services.celementsweb.getSkinFile(':structEditRes/select2/select2.min.css', 'file')">
#end
#if($activateJsCheckUnsaved)
  $services.javascript.addExtJSfileOnce(':celJS/yui/utilities/utilities.js', 'file')
  $services.javascript.addExtJSfileOnce(':celJS/yui/dom/dom-min.js', 'file')
  $services.javascript.addExtJSfileOnce(':celJS/yui/yahoo-dom-event/yahoo-dom-event.js', 'file')
  $services.javascript.addExtJSfileOnce(':celJS/yui/animation/animation-min.js', 'file')
  $services.javascript.addExtJSfileOnce(':celJS/yui/dragdrop/dragdrop-min.js', 'file')
  $services.javascript.addExtJSfileOnce(':celJS/yui/element/element-min.js', 'file')
  $services.javascript.addExtJSfileOnce(':celJS/yui/button/button-min.js', 'file')
  $services.javascript.addExtJSfileOnce(':celJS/yui/container/container-min.js', 'file')
  $services.javascript.addExtJSfileOnce(':structEditJS/StructEditor.js', 'file')
  $services.javascript.addExtJSfileOnce(':structEditJS/initStructEditor.js', 'file')
  $services.javascript.addExtJSfileOnce(':structEditJS/select2/select2.full.min.js', 'file')
  $services.javascript.addExtJSfileOnce(':structEditJS/select2/de.js', 'file')
  #foreach($path in $services.structuredDataEditor.getSelectTagAutocompleteJsPathList())
    $services.javascript.addExtJSfileOnce(":${path}", 'file')
  #end
  #set($lazyAdd = false)
  #parse("celMacros/includeCelementsRTE.vm")
#end ## activateJsCheckUnsaved

## include CSS defined on struct layout
#set($structDataEditorCfgDoc = $services.modelAccess.getDocument($structDataEditorCfgDocRef))
#foreach($cssObj in $structDataEditorCfgDoc.getObjects('Skins.UserCSS'))
  #set($cssFile = $services.celementsweb.getSkinFile($!cssObj.getProperty('cssname').value, 'file'))
  #if ("$!cssFile" != '')
    <link rel="stylesheet" type="text/css" href="$!cssFile">
  #end
#end

#set($overwritePresCmCssClass = '')
#set($overwriteNavCMcssClass = 'cel_cm_structured_data_editor_element')
#set($emptyDictKeySuffix = '_strucured_data_editor')
#if("$!structDataEditorPresentationCount" == '')
  #set($structDataEditorPresentationCount = 0)
#end
#set($structDataEditorPresentationCount = $structDataEditorPresentationCount + 1)
#set($structDataEditorNav = $services.treeNode.getJavaNavigation('StructuredDataEditor'))
#set($structCmCssClass = $structDataEditorNav.getCssClass())
<div id="GP$!{structDataEditorPresentationCount}$!{contentDoc.getName()}:$!{structDataEditorSpace}:"##
 class="structDataEditor $!{structCmCssClass}">
#if($services.layout.canRenderLayout($layout.layoutSpaceRef) && $layout.isEditorLayoutType())
  $!services.layout.renderPageLayout($layout.layoutSpaceRef)
#else
  <p>No Editor Layout found for ${structDataEditorSpace} (${layout.getLayoutType()})</p>
#end
</div>
