#if($structService.isMultilingual($cellDocRef))
#set($attrName = $structService.getAttributeName($cellDocRef).orElse(''))
#set($fieldName = $structService.getCellFieldName($cellDocRef).orElse(''))
<input type="hidden" name="$attrName.replace($fieldName, 'lang')" value="$!language" />
#end
