#set($cellDocRef = $celldoc.getDocumentReference())
<label for="$!services.structuredDataEditor.getAttributeName($cellDocRef)" class="structuredDataEditorLabel $!cssClassesLabel">
  #parse('celTemplates/LabelTagView.vm')
</label>
