<div class="languageVersions">
#set($xredStrBuffer = "${request.getRequestURL()}?$!{request.getQueryString()}")
#set($allowedLanguages = $services.webUtils.getAllowedLanguages())
#if($isAdmin)
  <!-- _renderSupportedLanguages.vm -->
  <!-- allowedLanguages : $!allowedLanguages -->
#end
<ul class="languageList">
  #foreach($transLang in $allowedLanguages)
    #set($titleLanguagePlaceholderKey = "cel_${transLang}")
    #set($titleLanguagePlaceholder = $adminMsg.get($titleLanguagePlaceholderKey))
    #set($activeLanguageClass = "")
    #if("$language" == "$!transLang")
      #set($activeLanguageClass = "active")
    #end
    #if("$!request.language" != "")
      #set($viewLangURL = $xredStrBuffer.replaceAll("(&|\?)(language=).*?(&|$)", "$1$2$!{transLang}$3"))
    #else
      #set($viewLangURL = "$!{xredStrBuffer}&language=${transLang}")
    #end
    #if(($langDoc.getWiki() == $context.getDatabase()) && ($docTransList.contains("$!transLang"))) ## if D
      #set($titleMainLanguage = "")
      #set($mainLanguageClass = "")
      #if("$!default_language" == "$!transLang")
        #set($titleMainLanguage = "$adminMsg.get('progon_org_helper_main_issue')")
        #set($mainLanguageClass = "mainLanguage")
      #end
      <li class="languageListElement $activeLanguageClass $mainLanguageClass">
        <a class="view transNotExists" title="$!titleMainLanguage" href="$viewLangURL">
          <span class="viewLanguageVersion">$transLang</span>
        </a>
      </li>
    #else
      <li class="languageListElement $activeLanguageClass transNotExists">
        <a class="view" title="$!titleMainLanguage" href="$viewLangURL">
          <span class="viewLanguageVersion transNotExists">$transLang</span>
        </a>
      </li>
    #end
  #end ## foreach
</ul>
</div>
